/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content ol {
    margin: 0;
    padding: 0;
    list-style: decimal inside;
}

.content pre {
    background-color: #eee;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap; /* Permite que as linhas quebrem quando necessárias */
    word-wrap: break-word;  /* Permite que as palavras quebrem quando necessárias */
}

.content code {
    background-color: #eee;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    font-family: monospace;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
